<ul class="upcoming__list">
  @for (course of allCourses; track course.id) {
  <li class="upcoming__item flex cursor" [routerLink]="['/courses']">
    <img width="100" height="100" src="assets/images/kattamen.png" alt="" />
    <div class="upcoming__wrapper">
      <h3>
        {{course.courseName}}
      </h3>
      <p>
        {{course.description}}
      </p>
      <div class="flex">
        <strong class="img-wrapper"
          ><img
            width="30"
            src="assets/images/kattamen.png"
            alt=""
          />{{course.teacherName}}</strong
        >
        <strong><i class="fa-regular fa-paste"></i>{{course.lessons.length}} Lectures</strong>
        <strong><i class="fa-regular fa-clock"></i>{{formatTotalTime(course.totalTime)}} total length</strong>
      </div>
      <p class="time">Available at 8 am</p>
    </div>
  </li>
}
</ul>
