<section class="aside-section">
  <div class="aside">
    <a [routerLink]="['/']" class="site-logo">
      <img src="/assets/images/logo.png" alt="Sayt logotipi bor">
    </a>

    <ul class="aside-list">
      <li class="aside-item">
        <i class="fa-brands fa-stack-overflow"></i>
        <a [routerLink]="['/overview']">Overview</a>
      </li>
      <li class="aside-item">
        <i class="fa-solid fa-book-bookmark"></i>
        <a [routerLink]="['/courses']">Courses</a>
      </li>
      <li class="aside-item">
        <i class="fa-solid fa-clipboard-question"></i>
        <a [routerLink]="['/quiz']">Quiz</a>
      </li>
      <li class="aside-item">
        <i class="fa-regular fa-message"></i>
        <a [routerLink]="['/messaging']">Messaging</a>
      </li>
      <li class="aside-item">
        <i class="fa-solid fa-chart-line"></i>
        <a [routerLink]="['/leaderboard']">Leaderboard</a>
      </li>
    </ul>

    <!-- <div class="aside-pro__version">

    </div> -->
  </div>
</section>