<div class="form-structor">
  <div class="signup">
    <h2 class="form-title" (click)="toggleForm('signup')">Sign up</h2>
    <div class="form-holder">
      <input type="text" class="input" placeholder="Name" />
      <input type="email" class="input" placeholder="Email" />
      <input type="password" class="input" placeholder="Password" />
    </div>
    <button class="submit-btn">Sign up</button>
  </div>
  <div class="login" [ngClass]="{ 'slide-up': loginFormSlideUp }">
    <div class="center">
      <h2 class="form-title" (click)="toggleForm('login')">Log in</h2>
      <div class="form-holder">
        <input type="email" class="input" placeholder="Email" />
        <input type="password" class="input" placeholder="Password" />
      </div>
      <button class="submit-btn">Log in</button>
    </div>
  </div>
</div>
