<!-- <div class="container">
    <div class="field">
      <input type="text" name="fullname" id="fullname" [(ngModel)] ="Id" placeholder="Id" autofill="autofill">
      <label for="fullname">Id</label>
    </div>
    <div class="field">
      <input type="text" name="fullname" id="fullname" [(ngModel)] ="couponCode" placeholder="NewCouponCode" autofill="autofill">
      <label for="fullname">NewCouponCode</label>
    </div>
    <div class="field">
      <input type="number" name="fullname" id="fullname" [(ngModel)] ="discount" placeholder="Full Name" autofill="autofill">
      <label for="fullname">Discount</label>
    </div>
    <button class="submit-button" (click)="submit()">Submit</button>

  </div> -->
  <h1>In Remont !!!</h1>