<!-- <div class="container">
    <div class="field">
      <input type="text" name="fullname" id="fullname" [(ngModel)] ="Id" placeholder="Id" autofill="autofill">
      <label for="fullname">Id</label>
    </div>
    <div class="field">
      <input type="text" name="fullname" id="fullname" [(ngModel)] ="title" placeholder="Title" autofill="autofill">
      <label for="fullname">Title</label>
    </div>
    <div class="field">
      <input type="text" name="fullname" id="fullname" [(ngModel)] ="expForWatching" placeholder="ExpForWatching" autofill="autofill">
      <label for="fullname">ExpForWatching</label>
    </div>
    <form (submit)="uploadVideo()" enctype="multipart/form-data">
        <input type="file" (change)="handleFileInput($event)" accept="video/*">
        <button type="submit">Upload Video</button>
      </form>
    <button class="submit-button" (click)="submit()">Submit</button>
</div> -->
<h1>In Remont !</h1>