<main class="site-main">
  <div class="main-wrapper ">
    <app-aside></app-aside>
  </div>
  <app-navbar></app-navbar>

  <!-- <div class="padding"></div> -->
  <section class="overview-section padding">
    <div class="overview">
      <div class="stats">
        <div class="rating flex">
          <div class="flex rating-item">
            <span class="navbar-star">
              <i class="fa-solid fa-star"></i>
            </span>
            <div class="flex rating__wrapper">
              <strong>3475</strong>
              <p>Total point</p>
            </div>
          </div>
          <div class="flex rating-item">
            <span class="navbar-star">
              <i class="fa-solid fa-trophy"></i>
            </span>
            <div class="flex rating__wrapper">
              <strong>3475</strong>
              <p>Ranking</p>
            </div>
          </div>
          <div class="flex rating-item">
            <span class="navbar-star">
              <i class="fa-solid fa-clock"></i>
            </span>
            <div class="flex rating__wrapper">
              <strong>3475</strong>
              <p>Learning time</p>
            </div>
          </div>
          <div class="flex rating-item">
            <span class="navbar-star">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="flex rating__wrapper">
              <strong>3475</strong>
              <p>Completed course</p>
            </div>
          </div>
        </div>
        <div class="activity"></div>
      </div>
    </div>
  </section>
  
</main>

