<main class="site-main">
  <div class="main-wrapper">
    <app-aside></app-aside>
  </div>
  <app-navbar></app-navbar>

  <!-- <div class="padding"></div> -->
  <section class="overview-section padding">
    <div class="overview">
      <div class="stats flex">
        <div class="rating flex">
          <div class="flex rating-item">
            <span class="navbar-star">
              <i class="fa-solid fa-star"></i>
            </span>
            <div class="flex rating__wrapper">
              <strong>3475</strong>
              <p>Total point</p>
            </div>
          </div>
          <div class="flex rating-item">
            <span class="navbar-star">
              <i class="fa-solid fa-trophy"></i>
            </span>
            <div class="flex rating__wrapper">
              <strong>3475</strong>
              <p>Ranking</p>
            </div>
          </div>
          <div class="flex rating-item">
            <span class="navbar-star">
              <i class="fa-solid fa-clock"></i>
            </span>
            <div class="flex rating__wrapper">
              <strong>3475</strong>
              <p>Learning time</p>
            </div>
          </div>
          <div class="flex rating-item">
            <span class="navbar-star">
              <i class="fa-solid fa-circle-check"></i>
            </span>
            <div class="flex rating__wrapper">
              <strong>3475</strong>
              <p>Completed course</p>
            </div>
          </div>
        </div>
        <div class="activity rating">
          <h2>Activity</h2>
          <ul class="activity__list flex">
            <li class="activity__item">
              <div class="activity__wrapper">
                <span class="time">
                  <p>3h 20m</p>
                  <p>Oct 10, 2022</p>
                </span>
                <span height="" class="bar"></span>
                <p class="weekdays">Mon</p>
              </div>
            </li>
            <li class="activity__item">
              <div class="activity__wrapper">
                <span class="time">
                  <p>3h 20m</p>
                  <p>Oct 10, 2022</p>
                </span>
                <span height="" class="bar"></span>
                <p class="weekdays">Tue</p>
              </div>
            </li>
            <li class="activity__item">
              <div class="activity__wrapper">
                <span class="time">
                  <p>3h 20m</p>
                  <p>Oct 10, 2022</p>
                </span>
                <span height="" class="bar"></span>
                <p class="weekdays">Wed</p>
              </div>
            </li>
            <li class="activity__item">
              <div class="activity__wrapper">
                <span class="time">
                  <p>3h 20m</p>
                  <p>Oct 10, 2022</p>
                </span>
                <span height="" class="bar"></span>
                <p class="weekdays">Thu</p>
              </div>
            </li>
            <li class="activity__item">
              <div class="activity__wrapper">
                <span class="time">
                  <p>3h 20m</p>
                  <p>Oct 10, 2022</p>
                </span>
                <span height="" class="bar"></span>
                <p class="weekdays">Fri</p>
              </div>
            </li>
            <li class="activity__item select-item">
              <div class="activity__wrapper">
                <span class="time">
                  <p>3h 20m</p>
                  <p>Oct 10, 2022</p>
                </span>
                <span height="" class="bar"></span>
                <p class="weekdays">Sat</p>
              </div>
            </li>
            <li class="activity__item">
              <div class="activity__wrapper">
                <span class="time">
                  <p>3h 20m</p>
                  <p>Oct 10, 2022</p>
                </span>
                <span height="" class="bar"></span>
                <p class="weekdays">Sun</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="stats flex upcoming-course__wrapper">
        <div class="upcoming rating">
          <div class="title-wrapper flex">
            <h2>Upcoming Courses</h2>
            <a [routerLink]="['/courses']">All courses <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="top-students rating  upcoming">
          <div class="title-wrapper flex">
            <h2>Top Tier Students</h2>
            <a [routerLink]="['/courses']">All Leaderboard <i class="fa-solid fa-arrow-right"></i></a>
          </div>

          <ul class="top-students__list">
            <li class="top-students__item">
              <a [routerLink]="[]" class="flex">
                <div class="flex">
                  <img width="40" src="assets/images/kattamen.png" alt="Katteman aka'ni rasmi bor">
                <div class="student__wrapper--name">
                  <h3>Katteman</h3>
                  <p>Indonesia, Kendal</p>
                </div>
                </div>
                <div class="student__wrapper--rating flex">
                  <span></span>
                  <p>45321</p>
                </div>
              </a>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
  </section>
</main>
