/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eceff3;
}

.active{
    background-color: white;
    p {
        color: black;
    }
}

.container{
    max-width: 1540px;
    padding: 30px 20px;
    margin: 0 auto;
}

.site-main{
  display: flex;
}

a{
    color: black;
}

ul{
    list-style: none;
}
